.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section1 {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  width: 35rem;
}
.headn {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: gray;
}
.url {
  color: wheat;
}
.input-div {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input {
  background-color: white;
  height: 3rem;
  flex-grow: 1;
  border: 1px solid whitesmoke;
  margin-right: 1rem;
}
.input-div input {
  border: none;
  margin: 1rem auto;
  margin-left: 1rem;
}
.url-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.url-display p {
  background-color: white;
  height: 3rem;
  flex-grow: 1;
  border: 1px solid whitesmoke;
  margin-right: 1rem;
  text-align: center;
  /* margin: 1rem auto; */
}
.section1 button {
  height: 3rem;
  width: 6rem;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: wheat;
  color: whitesmoke;
  border: 1px solid wheat;
}
.section1 input {
  flex-grow: 1;
  margin-right: 1rem;
}
.section2 {
  margin: 5rem auto;
}
.copied {
  background-color: whitesmoke;
  color: wheat;
  height: 3rem;
  width: 6rem;
  border: 1px solid wheat;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}
.sh-url {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
